# dependencies
/node_modules

# production build
/dist
/build

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local

# runtime data
/tmp
/pids
*.pid
*.seed
*.pid.lock

# coverage
/coverage

# misc
.DS_Store

# IDE/editor
.vscode/
.idea/
*.swp